### This script will help you figure out reruns based on data from your FIMS spreadsheets, and Geneious CSV exports of HQ contigs and LQ contigs.

In [1]:
import pandas as pd

#### Import your FIMS spreadsheets and concatenate them.

##### (It shouldn't matter if they are CSV or XLS/XLSX, as long as you are using the correct read-in terminology, e.g. "pd.read_excel" or "pd.read_csv". Make sure the filename uses the correct ending: ".csv" or ".xlsx", etc.) 
If you are using an Excel spreadsheet that has been uploaded to GeOMe, you may need to specify the "sheet_name".

In [2]:
FIMS01_df = pd.read_excel('../../FIMS/GeOMe upload/Trichoptera_P01_2019.07.12.xlsx', sheet_name='Samples')

In [3]:
FIMS02_df = pd.read_csv('../../FIMS/GeOMe upload/Trichoptera_P02_2019.07.12.csv')

In [4]:
FIMS03_df = pd.read_csv('../../FIMS/GeOMe upload/Trichoptera_P03_2019.07.12.csv')

In [5]:
FIMS04_df = pd.read_excel('../../FIMS/GeOMe upload/Trichoptera_P04_2019.07.12-2.xlsx')
FIMS04_df.head()

,materialSampleID,institutionCode,kingdom,phylum,scientificName,yearCollected,locality,country,tissuePlate,tissueWell,...,specificEpithet,identifiedBy,fieldNumber,genbankSpecimenVoucher,boldProcessID,dayCollected,monthCollected,tissueID,tissueBarcode,tissueOtherCatalogNumbers
0,RASBC56191,MGCL,Animalia,Arthropoda,Cicinnus nsp,2015,"Arizona, Santa Cruz Co., Peña Blanca Lake, Paj...",USA,Trichoptera_P04,A01,...,NaN,NaN,RASBC56191,NaN,NaN,NaN,NaN,RASBC56191,NaN,302249267
1,RASBC57191,AMNH,Animalia,Arthropoda,Cicinnus sp,1979,"Sonora, Mile 6.2 Colonia Mesa tres Rios to Hua...",Mexico,Trichoptera_P04,B01,...,NaN,NaN,RASBC57191,NaN,NaN,NaN,NaN,RASBC57191,NaN,302249268
2,LEP78144,MGCL,Animalia,Arthropoda,Comadia sp.,2019,Unknown,Mexico,Trichoptera_P04,C01,...,NaN,NaN,LEP78144,NaN,NaN,NaN,NaN,LEP78144,NaN,302249269
3,LEP78071,MGCL,Animalia,Arthropoda,Comadia sp.,2019,Unknown,Mexico,Trichoptera_P04,D01,...,NaN,NaN,LEP78071,NaN,NaN,NaN,NaN,LEP78071,NaN,302249270
4,LEP73648,MGCL,Animalia,Arthropoda,Epholca arenosa,2018,Unknown,Japan,Trichoptera_P04,E01,...,NaN,NaN,LEP73648,NaN,NaN,1.0,7.0,LEP73648,NaN,302249271

In [6]:
FIMS05_df = pd.read_csv('../../FIMS/GeOMe upload/Trichoptera_P05_2019.08.20.csv')

In [7]:
FIMS_df = pd.concat([FIMS01_df,FIMS02_df,FIMS03_df,FIMS04_df,FIMS05_df])
FIMS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472 entries, 0 to 93
Data columns (total 31 columns):
boldProcessID                0 non-null float64
catalogNumber                31 non-null object
class                        0 non-null float64
collectionCode               188 non-null object
country                      470 non-null object
dayCollected                 147 non-null float64
decimalLatitude              104 non-null float64
decimalLongitude             104 non-null float64
family                       137 non-null object
fieldNumber                  470 non-null object
genbankSpecimenVoucher       0 non-null float64
genus                        128 non-null object
identifiedBy                 0 non-null float64
index                        94 non-null float64
institutionCode              470 non-null object
kingdom                      470 non-null object
locality                     470 non-null object
materialSampleID             470 non-null object
monthCollected               147 non-null float64
order                        470 non-null object
phylum                       470 non-null object
scientificName               470 non-null object
specificEpithet              0 non-null float64
tissueBarcode                0 non-null float64
tissueID                     470 non-null object
tissueOtherCatalogNumbers    470 non-null float64
tissuePlate                  470 non-null object
tissueType                   470 non-null object
tissueWell                   470 non-null object
voucherCatalogNumber         34 non-null object
yearCollected                470 non-null float64
dtypes: float64(13), object(18)
memory usage: 118.0+ KB

/Users/beckerah/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

 #### Import your Geneious CSVs and concatenate them.

In [8]:
LQ_seqs_df = pd.read_csv('87 documents from LQ Contigs.csv')
LQ_seqs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 24 columns):
Name                                                     87 non-null object
Bin                                                      87 non-null object
Description                                              87 non-null object
HQ%                                                      87 non-null object
LQ%                                                      87 non-null object
Max Sequence Length                                      87 non-null int64
Min Sequence Length                                      87 non-null int64
Sequencing Primer: Forward PCR Primer Name               87 non-null object
Sequencing Primer: Forward PCR Primer Sequence           87 non-null object
Sequencing Primer: Forward Sequencing Primer Name        87 non-null object
Sequencing Primer: Forward Sequencing Primer Sequence    87 non-null object
Sequencing Primer: Reverse PCR Primer Name               87 non-null object
Sequencing Primer: Reverse PCR Primer Sequence           87 non-null object
Sequencing Primer: Reverse Sequencing Primer Name        87 non-null object
Sequencing Primer: Reverse Sequencing Primer Sequence    87 non-null object
Sequencing Well                                          87 non-null object
Taxonomy                                                 87 non-null object
catalogNumber                                            2 non-null object
materialSampleID                                         87 non-null object
scientificName                                           87 non-null object
tissueOtherCatalogNumbers                                87 non-null int64
tissuePlate                                              87 non-null object
tissueWell                                               87 non-null object
voucherCatalogNumber                                     2 non-null object
dtypes: int64(3), object(21)
memory usage: 16.4+ KB

In [9]:
HQ_seqs_df = pd.read_csv('396 documents from Contigs.csv')
HQ_seqs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 24 columns):
Name                                                     396 non-null object
Bin                                                      396 non-null object
Description                                              396 non-null object
HQ%                                                      396 non-null object
LQ%                                                      396 non-null object
Max Sequence Length                                      396 non-null int64
Min Sequence Length                                      396 non-null int64
Sequencing Primer: Forward PCR Primer Name               396 non-null object
Sequencing Primer: Forward PCR Primer Sequence           396 non-null object
Sequencing Primer: Forward Sequencing Primer Name        396 non-null object
Sequencing Primer: Forward Sequencing Primer Sequence    396 non-null object
Sequencing Primer: Reverse PCR Primer Name               396 non-null object
Sequencing Primer: Reverse PCR Primer Sequence           396 non-null object
Sequencing Primer: Reverse Sequencing Primer Name        396 non-null object
Sequencing Primer: Reverse Sequencing Primer Sequence    396 non-null object
Sequencing Well                                          396 non-null object
Taxonomy                                                 396 non-null object
catalogNumber                                            23 non-null object
materialSampleID                                         396 non-null object
scientificName                                           396 non-null object
tissueOtherCatalogNumbers                                396 non-null int64
tissuePlate                                              396 non-null object
tissueWell                                               396 non-null object
voucherCatalogNumber                                     26 non-null object
dtypes: int64(3), object(21)
memory usage: 74.4+ KB

In [10]:
all_seqs_df = pd.concat([LQ_seqs_df,HQ_seqs_df])
all_seqs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 395
Data columns (total 24 columns):
Name                                                     483 non-null object
Bin                                                      483 non-null object
Description                                              483 non-null object
HQ%                                                      483 non-null object
LQ%                                                      483 non-null object
Max Sequence Length                                      483 non-null int64
Min Sequence Length                                      483 non-null int64
Sequencing Primer: Forward PCR Primer Name               483 non-null object
Sequencing Primer: Forward PCR Primer Sequence           483 non-null object
Sequencing Primer: Forward Sequencing Primer Name        483 non-null object
Sequencing Primer: Forward Sequencing Primer Sequence    483 non-null object
Sequencing Primer: Reverse PCR Primer Name               483 non-null object
Sequencing Primer: Reverse PCR Primer Sequence           483 non-null object
Sequencing Primer: Reverse Sequencing Primer Name        483 non-null object
Sequencing Primer: Reverse Sequencing Primer Sequence    483 non-null object
Sequencing Well                                          483 non-null object
Taxonomy                                                 483 non-null object
catalogNumber                                            25 non-null object
materialSampleID                                         483 non-null object
scientificName                                           483 non-null object
tissueOtherCatalogNumbers                                483 non-null int64
tissuePlate                                              483 non-null object
tissueWell                                               483 non-null object
voucherCatalogNumber                                     28 non-null object
dtypes: int64(3), object(21)
memory usage: 94.3+ KB

#### Figure out which samples are not represented in the Geneious CSVs. In other words, samples that were not sequenced.

In [15]:
noSeqs_df = pd.merge(FIMS_df, all_seqs_df, on=['tissueOtherCatalogNumbers','tissuePlate','tissueWell'], 
                     how="outer", indicator=True).query('_merge=="left_only"')
noSeqs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 48 to 525
Data columns (total 53 columns):
boldProcessID                                            0 non-null float64
catalogNumber_x                                          6 non-null object
class                                                    0 non-null float64
collectionCode                                           24 non-null object
country                                                  57 non-null object
dayCollected                                             6 non-null float64
decimalLatitude                                          8 non-null float64
decimalLongitude                                         8 non-null float64
family                                                   24 non-null object
fieldNumber                                              57 non-null object
genbankSpecimenVoucher                                   0 non-null float64
genus                                                    23 non-null object
identifiedBy                                             0 non-null float64
index                                                    5 non-null float64
institutionCode                                          57 non-null object
kingdom                                                  57 non-null object
locality                                                 57 non-null object
materialSampleID_x                                       57 non-null object
monthCollected                                           6 non-null float64
order                                                    57 non-null object
phylum                                                   57 non-null object
scientificName_x                                         57 non-null object
specificEpithet                                          0 non-null float64
tissueBarcode                                            0 non-null float64
tissueID                                                 57 non-null object
tissueOtherCatalogNumbers                                57 non-null float64
tissuePlate                                              57 non-null object
tissueType                                               57 non-null object
tissueWell                                               57 non-null object
voucherCatalogNumber_x                                   6 non-null object
yearCollected                                            57 non-null float64
Name                                                     0 non-null object
Bin                                                      0 non-null object
Description                                              0 non-null object
HQ%                                                      0 non-null object
LQ%                                                      0 non-null object
Max Sequence Length                                      0 non-null float64
Min Sequence Length                                      0 non-null float64
Sequencing Primer: Forward PCR Primer Name               0 non-null object
Sequencing Primer: Forward PCR Primer Sequence           0 non-null object
Sequencing Primer: Forward Sequencing Primer Name        0 non-null object
Sequencing Primer: Forward Sequencing Primer Sequence    0 non-null object
Sequencing Primer: Reverse PCR Primer Name               0 non-null object
Sequencing Primer: Reverse PCR Primer Sequence           0 non-null object
Sequencing Primer: Reverse Sequencing Primer Name        0 non-null object
Sequencing Primer: Reverse Sequencing Primer Sequence    0 non-null object
Sequencing Well                                          0 non-null object
Taxonomy                                                 0 non-null object
catalogNumber_y                                          0 non-null object
materialSampleID_y                                       0 non-null object
scientificName_y                                         0 non-null object
voucherCatalogNumber_y                                   0 non-null object
_merge                                                   59 non-null category
dtypes: category(1), float64(15), object(37)
memory usage: 24.6+ KB

##### The following code will strip out all the unecessary columns from the dataframe. Feel free to add back anything you think is relevant to your data.

In [19]:
noSeqs_df = pd.DataFrame(noSeqs_df, columns = ['materialSampleID_x','scientificName_x','tissueID',
                                               'tissueOtherCatalogNumbers','tissuePlate','tissueWell'])
noSeqs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 48 to 525
Data columns (total 6 columns):
materialSampleID_x           57 non-null object
scientificName_x             57 non-null object
tissueID                     57 non-null object
tissueOtherCatalogNumbers    57 non-null float64
tissuePlate                  57 non-null object
tissueWell                   57 non-null object
dtypes: float64(1), object(5)
memory usage: 3.2+ KB

##### Rename columns (like cleaning up "_x", "_y", etc.)

In [20]:
noSeqs_df.columns = ['materialSampleID','scientificName','tissueID','tissueOtherCatalogNumbers','tissuePlate',
                     'tissueWell']
noSeqs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 48 to 525
Data columns (total 6 columns):
materialSampleID             57 non-null object
scientificName               57 non-null object
tissueID                     57 non-null object
tissueOtherCatalogNumbers    57 non-null float64
tissuePlate                  57 non-null object
tissueWell                   57 non-null object
dtypes: float64(1), object(5)
memory usage: 3.2+ KB

#### Merge the LQ seq data and FIMS spreadsheet to pull in any missing info from the Geneious export.

In [26]:
LQ_seqs_and_FIMS_df = pd.merge(how = 'inner', left = FIMS_df, right = LQ_seqs_df, on = 'tissueOtherCatalogNumbers')
LQ_seqs_and_FIMS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 86
Data columns (total 54 columns):
boldProcessID                                            0 non-null float64
catalogNumber_x                                          2 non-null object
class                                                    0 non-null float64
collectionCode                                           73 non-null object
country                                                  87 non-null object
dayCollected                                             53 non-null float64
decimalLatitude                                          55 non-null float64
decimalLongitude                                         55 non-null float64
family                                                   75 non-null object
fieldNumber                                              87 non-null object
genbankSpecimenVoucher                                   0 non-null float64
genus                                                    73 non-null object
identifiedBy                                             0 non-null float64
index                                                    1 non-null float64
institutionCode                                          87 non-null object
kingdom                                                  87 non-null object
locality                                                 87 non-null object
materialSampleID_x                                       87 non-null object
monthCollected                                           53 non-null float64
order                                                    87 non-null object
phylum                                                   87 non-null object
scientificName_x                                         87 non-null object
specificEpithet                                          0 non-null float64
tissueBarcode                                            0 non-null float64
tissueID                                                 87 non-null object
tissueOtherCatalogNumbers                                87 non-null float64
tissuePlate_x                                            87 non-null object
tissueType                                               87 non-null object
tissueWell_x                                             87 non-null object
voucherCatalogNumber_x                                   2 non-null object
yearCollected                                            87 non-null float64
Name                                                     87 non-null object
Bin                                                      87 non-null object
Description                                              87 non-null object
HQ%                                                      87 non-null object
LQ%                                                      87 non-null object
Max Sequence Length                                      87 non-null int64
Min Sequence Length                                      87 non-null int64
Sequencing Primer: Forward PCR Primer Name               87 non-null object
Sequencing Primer: Forward PCR Primer Sequence           87 non-null object
Sequencing Primer: Forward Sequencing Primer Name        87 non-null object
Sequencing Primer: Forward Sequencing Primer Sequence    87 non-null object
Sequencing Primer: Reverse PCR Primer Name               87 non-null object
Sequencing Primer: Reverse PCR Primer Sequence           87 non-null object
Sequencing Primer: Reverse Sequencing Primer Name        87 non-null object
Sequencing Primer: Reverse Sequencing Primer Sequence    87 non-null object
Sequencing Well                                          87 non-null object
Taxonomy                                                 87 non-null object
catalogNumber_y                                          2 non-null object
materialSampleID_y                                       87 non-null object
scientificName_y                                         87 non-null object
tissuePlate_y                                            87 non-null object
tissueWell_y                                             87 non-null object
voucherCatalogNumber_y                                   2 non-null object
dtypes: float64(13), int64(2), object(39)
memory usage: 37.4+ KB

As above, keep the columns you want and rename them.

In [27]:
LQ_seqs_and_FIMS_df = pd.DataFrame(LQ_seqs_and_FIMS_df, columns = ['materialSampleID_x','scientificName_x',
                                                                   'tissueID','tissueOtherCatalogNumbers',
                                                                   'tissuePlate_x','tissueWell_x'])
LQ_seqs_and_FIMS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 86
Data columns (total 6 columns):
materialSampleID_x           87 non-null object
scientificName_x             87 non-null object
tissueID                     87 non-null object
tissueOtherCatalogNumbers    87 non-null float64
tissuePlate_x                87 non-null object
tissueWell_x                 87 non-null object
dtypes: float64(1), object(5)
memory usage: 4.8+ KB

In [28]:
LQ_seqs_and_FIMS_df.columns = ['materialSampleID','scientificName','tissueID','tissueOtherCatalogNumbers',
                               'tissuePlate','tissueWell']
LQ_seqs_and_FIMS_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 0 to 86
Data columns (total 6 columns):
materialSampleID             87 non-null object
scientificName               87 non-null object
tissueID                     87 non-null object
tissueOtherCatalogNumbers    87 non-null float64
tissuePlate                  87 non-null object
tissueWell                   87 non-null object
dtypes: float64(1), object(5)
memory usage: 4.8+ KB

#### Concatenate the data frames including LQ sequences and No Sequence Data to produce a final reruns list.

In [29]:
LqAndNqSeqs_df = pd.concat([noSeqs_df,LQ_seqs_and_FIMS_df])
LqAndNqSeqs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 48 to 86
Data columns (total 6 columns):
materialSampleID             144 non-null object
scientificName               144 non-null object
tissueID                     144 non-null object
tissueOtherCatalogNumbers    144 non-null float64
tissuePlate                  144 non-null object
tissueWell                   144 non-null object
dtypes: float64(1), object(5)
memory usage: 8.0+ KB

#### Save this list as an Excel spreadsheet.

In [30]:
LqAndNqSeqs_df.to_excel('TrichoReruns.xlsx',index=False)