In [3]:
import pandas as pd

### Import the new plate scan:

In [6]:
plate01_01 = pd.read_csv('FY18_FUT_P01_21-Nov-2018_05-21-55_PM.txt', sep = ';')
plate01_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
Rack: FY18_FUT_P01    96 non-null object
Unnamed: 1            96 non-null object
dtypes: object(2)
memory usage: 1.6+ KB

#### Make sure the data looks correct:

In [7]:
plate01_01.head()

  Rack: FY18_FUT_P01  Unnamed: 1
0                A01  0302206360
1                B01  0302206361
2                C01  0302206362
3                D01  0302206363
4                E01  0302206364

#### This changes the headers:

In [12]:
plate01_01.columns = ['well', 'barcode']
plate01_01.head()

  well     barcode
0  A01  0302206360
1  B01  0302206361
2  C01  0302206362
3  D01  0302206363
4  E01  0302206364

### Import the original plate scan:

In [8]:
plate01_02 = pd.read_csv('FutFishP01_PreBr_12-Mar-2019_10-42-08_AM.txt', sep = ';')
plate01_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
Rack: FutFishP01_PreBr    96 non-null object
Unnamed: 1                96 non-null object
dtypes: object(2)
memory usage: 1.6+ KB

#### Make sure the data looks correct:

In [9]:
plate01_02.head()

  Rack: FutFishP01_PreBr  Unnamed: 1
0                    A01  0302206360
1                    B01  0302206361
2                    C01  0302206362
3                    D01  0302206363
4                    E01  0302206364

#### This changes the headers:

In [13]:
plate01_02.columns = ['well', 'barcode']
plate01_02.head()

  well     barcode
0  A01  0302206360
1  B01  0302206361
2  C01  0302206362
3  D01  0302206363
4  E01  0302206364

### This compares the two and will return any discrepancies:

In [21]:
P01Bool = (plate01_01 != plate01_02).stack()
P01Diff = pd.concat([plate01_01.stack()[P01Bool],
                     plate01_02.stack()[P01Bool]], axis = 1)
P01Diff.columns = ['orig', 'rescan']
print(P01Diff)

Empty DataFrame
Columns: [orig, rescan]
Index: []