### Compare GenBank records to the original FIMS data

This is particularly useful for matching up accession numbers to FIMS data when working with a large dataset. (For example, when creating GS records after the fact.)

In [1]:
import pandas as pd

### Import each of the FIMS spreadsheets you'll be working with:

In [49]:
fims_df = pd.read_csv('not_bruces_fish.csv')

In [50]:
fims02_df = pd.read_excel('Proficiency_Test_02_2015.xlsx')

In [51]:
fims03_df = pd.read_excel('Proficiency_Test_03_2015.xlsx')

In [52]:
fims04_df = pd.read_excel('Proficiency_Test_04_2015_FISH.xlsx')

### This will combine them all into one dataframe:

In [53]:
fims_combined = pd.concat([fims_df,fims02_df,fims03_df,fims04_df], sort=False)
fims_combined.info()

### Import the data you downloaded from GenBank:

In [56]:
gb_df = pd.read_excel('sibn_and_prof_test_animals.xlsx')
gb_df.info()

### This will combine the two data sets (FIMS and GenBank), merging on the specimen voucher:

*Note: this tool is case sensitive, so if the FIMS sheet uses the collection code "Fish" but GenBank has it listed as "FISH", you'll need to convert one to match the other or they won't be combined correctly.

In [71]:
merged_inner = pd.merge(how='inner', left=fims_df, right=gb_df, 
                        left_on='voucherID', right_on='specimen_voucher')
merged_inner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 49 columns):
Unnamed: 0           40 non-null int64
extractionPlateID    40 non-null object
extractionWell       40 non-null object
extractionBarcode    40 non-null int64
tissueID             40 non-null object
tissueType           0 non-null float64
voucherID            40 non-null object
institutionCode      40 non-null object
collectionCode       40 non-null object
catalogNumber        40 non-null int64
scientificName       40 non-null object
countryOrOcean       40 non-null object
locality             2 non-null object
gb_locality          40 non-null object
decimalLatitude      40 non-null float64
decimalLongitude     40 non-null float64
gb_latlon            40 non-null object
yearCollected        40 non-null int64
monthCollected       40 non-null int64
dayCollected         40 non-null int64
collectedBy          40 non-null object
identifiedBy         0 non-null float64
kingdom              40 non-null object
phylum               40 non-null object
class                40 non-null object
order                40 non-null object
family               40 non-null object
genus                40 non-null object
species              40 non-null object
accession_x          0 non-null float64
bioproject_x         0 non-null float64
PCR_primers          40 non-null object
accession_y          40 non-null object
bioproject_y         0 non-null object
collected_by         40 non-null object
collection_date      40 non-null object
country              40 non-null object
keyword              40 non-null object
lat_lon              40 non-null object
publish_date         40 non-null object
scientific_name      40 non-null object
seq_len              40 non-null int64
specimen_voucher     40 non-null object
submit_authors       0 non-null object
submit_date          40 non-null object
submit_inst          40 non-null object
taxid                40 non-null int64
update_date          40 non-null object
initiative           40 non-null object
dtypes: float64(6), int64(8), object(35)
memory usage: 15.6+ KB

### This will help you visualize the combined data (useful for figuring out if something went wrong in that last step):

In [72]:
merged_inner.head()

,Unnamed: 0,extractionPlateID,extractionWell,extractionBarcode,tissueID,tissueType,voucherID,institutionCode,collectionCode,catalogNumber,...,publish_date,scientific_name,seq_len,specimen_voucher,submit_authors,submit_date,submit_inst,taxid,update_date,initiative
0,0,Proficiency_Test_01,H01,184612800,AB4OO35,NaN,USNM:FISH:433057,USNM,Fish,433057,...,12-JUN-2015,Selar crumenophthalmus,632,USNM:FISH:433057,NaN,11-JUN-2015,"CBOL, Smithsonian, 10th and Constitution Ave ...",146146,12-JUN-2015,SIBN
1,1,Proficiency_Test_01,H02,184612801,AB4OO59,NaN,USNM:FISH:433065,USNM,Fish,433065,...,12-JUN-2015,Zenopsis conchifer,655,USNM:FISH:433065,NaN,11-JUN-2015,"CBOL, Smithsonian, 10th and Constitution Ave ...",245696,12-JUN-2015,SIBN
2,3,Proficiency_Test_01,H04,184612803,AB4OP07,NaN,USNM:FISH:433081,USNM,Fish,433081,...,12-JUN-2015,Lophius americanus,655,USNM:FISH:433081,NaN,11-JUN-2015,"CBOL, Smithsonian, 10th and Constitution Ave ...",8073,12-JUN-2015,SIBN
3,4,Proficiency_Test_01,H05,184612804,AB4OP31,NaN,USNM:FISH:433089,USNM,Fish,433089,...,12-JUN-2015,Squalus acanthias,618,USNM:FISH:433089,NaN,11-JUN-2015,"CBOL, Smithsonian, 10th and Constitution Ave ...",7797,12-JUN-2015,SIBN
4,17,Proficiency_Test_01,G05,184612819,AB4OP28,NaN,USNM:FISH:433088,USNM,Fish,433088,...,12-JUN-2015,Mustelus canis canis,655,USNM:FISH:433088,NaN,11-JUN-2015,"CBOL, Smithsonian, 10th and Constitution Ave ...",1664675,12-JUN-2015,SIBN

### This will save only the columns we want to keep. You might want to tweak the included data to suit your needs:

In [ ]:
final_df = merged_inner[['extractionPlateID','extractionWell','extractionBarcode','tissueID','voucherID','catalogNumber','genus','species','accession','collectedBy']]

### This will give you a sample of how your final data will look:

In [75]:
final_df.head()

,extractionPlateID,extractionWell,extractionBarcode,tissueID,voucherID,catalogNumber,genus,species,accession_y,collectedBy
0,Proficiency_Test_01,H01,184612800,AB4OO35,USNM:FISH:433057,433057,Selar,crumenophthalmus,KT075293,"Northeast Fisheries Science Center (NEFSC), Wo..."
1,Proficiency_Test_01,H02,184612801,AB4OO59,USNM:FISH:433065,433065,Zenopsis,conchifer,KT075300,"Northeast Fisheries Science Center (NEFSC), Wo..."
2,Proficiency_Test_01,H04,184612803,AB4OP07,USNM:FISH:433081,433081,Lophius,americanus,KT075310,"Northeast Fisheries Science Center (NEFSC), Wo..."
3,Proficiency_Test_01,H05,184612804,AB4OP31,USNM:FISH:433089,433089,Squalus,acanthias,KT075317,"Northeast Fisheries Science Center (NEFSC), Wo..."
4,Proficiency_Test_01,G05,184612819,AB4OP28,USNM:FISH:433088,433088,Mustelus,canis,KT075316,"Northeast Fisheries Science Center (NEFSC), Wo..."

### Save the data to a CSV file: (Remember to name it something useful)

In [76]:
final_df.to_csv('FIMS_and_GB_Fish_NotBruces.csv')